body {
  margin:10px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div{
  padding-top: 10px;
}
label{
  margin-bottom: 5px;
  display:block
}
input[type=text],input[type=number]{
  width:40%;
}
textarea{
  width: 40%;
  height: 50px;
}
p{
  font-weight: bold;
}
.text-red{
  color: red;
}
.span{
  margin-right: 10px;
}
.gender,.manifestation{
  display: inline-block;
}
